* {
	margin:0px;
	border:0px;
	padding:0px;
}
body {
	font-family:"宋体";
	font-size:12px;
	color:#000;
}
#container {
	width:1008px;
	height:630px;
	background-image:url(../images/bgpic.jpg);	/*网页容器的背景图像*/
	background-repeat:no-repeat;			/*背景不重复*/
	margin:0 auto;					/*自动水平居中*/
}
#top_menu {
	line-height:20px;
	margin:20px 0px 0px 50px;
	width:180px;
	float:right;					/*导航菜单向右浮动*/
	text-align:left;
}
#top_menu span {
	margin-left:5px;
	margin-right:5px;
}
#main {
	width:400px;
	height:370px;
	float:left;					/*主体内容向左浮动*/
	margin:100px 30px 0px 50px;
}
#main_top {
	width:400px;
	height:100px;
        font-family:"华文中宋";
        font-size:48px;
}
#main_mid{
	width:400px;
	height:20px;
        font-size:18px;
}
#main_main1{
	width:400px;
	height:72px;
	border-bottom:#Fff solid 1px;
	margin-top:10px;
	line-height:20px;
}
#main_main2{
	width:400px;
	height:72px;
	border-bottom:#Fff solid 1px;
	margin-top:10px;
	line-height:20px;
}
#footer{
	width:1008px;
	height:28px;
	float:left;
	margin-top:128px;
}
#footer_text{
	text-align:center;
	margin-top:10px;
}